@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: "Bangers", "sans-serif";

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #3b3b3b;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-border {
  @apply border-r-6 border-b-6 border-2 rounded-xl border-black duration-300;
}
.custom-border:hover {
  @apply border-r-4 border-b-4 ;
}
.custom-outline {
  @apply  border-2 rounded-lg border-black transition-transform duration-300;
  box-shadow: 9px 9px 0 0 black;


}

.custom-outline:hover {
  @apply -translate-y-0.5;
}
/* LoadingIcon.css */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  width: 48px;
  height: 48px;
  color: #3b82f6; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
